<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <GlobalMaqs>
        <!-- Generic wait time in milliseconds - AKA how long do you wait for rechecking something -->
        <WaitTime>100</WaitTime>

        <!-- Generic time-out in milliseconds -->
        <Timeout>10000</Timeout>

        <!-- Do you want to create logs for your tests
        <Log>YES</Log>
        <Log>NO</Log>
        <Log>OnFail</Log>-->
        <Log>YES</Log>

        <!--Logging Levels
        <LogLevel>VERBOSE</LogLevel>
        <LogLevel>INFORMATION</LogLevel>
        <LogLevel>GENERIC</LogLevel>
        <LogLevel>SUCCESS</LogLevel>
        <LogLevel>WARNING</LogLevel>
        <LogLevel>ERROR</LogLevel>-->
        <LogLevel>WARNING</LogLevel>

        <!-- Logging Types
        <LogType>CONSOLE</LogType>
        <LogType>TXT</LogType>
        <LogType>HTML</LogType>-->
        <LogType>TXT</LogType>

        <!-- Log file path - Defaults to build location if no value is defined
        <FileLoggerPath>C:\\Frameworks\\</FileLoggerPath> -->
    </GlobalMaqs>
    <DatabaseMaqs>
        <DatabaseName>GlobalAutomation</DatabaseName>
        <!--<DatabaseProviderType>SQL</DatabaseProviderType>
        <DatabaseProviderType>MYSQL</DatabaseProviderType>-->
        <DatabaseProviderType>SQL</DatabaseProviderType>
        <DatabaseUser>sa</DatabaseUser>
        <DatabasePassword>globalMAQS2</DatabasePassword>
        <DatabaseConnectionString>jdbc:sqlserver://localhost</DatabaseConnectionString>
        <EntityDirectory>./src/test/java/com/cognizantsoftvision/maqs/database/entities/</EntityDirectory>
        <EntityPackage>com.cognizantsoftvision.maqs.database.entities</EntityPackage>
    </DatabaseMaqs>
    <DatabaseCaps>
        <hibernate.archive.autodetection>class</hibernate.archive.autodetection>
        <hibernate.show_sql>true</hibernate.show_sql>
        <hibernate.format_sql>true</hibernate.format_sql>
        <hibernate.hbm2ddl.auto>update</hibernate.hbm2ddl.auto>
    </DatabaseCaps>
</configuration>